
-# @param @cash model object


= bootstrap_form_for(@cash, layout: :horizontal) do |f|
  = f.fields_for @cash.account do |af|
    = render partial:"accounts/form", locals:{form: af}

  %fieldset
    %legend Bank Information
    = f.text_field :bank_name, label:"Bank and Branch:"
    = f.text_field :bank_addr
    = f.text_field :account_no
    = f.text_field :account_name

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'

