
<% @page_title = "P/L: #{@date_range.date_start}..#{@date_range.date_end}" %>

<% content_for :head do %>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<% end %>


<% content_for :links do %>
  <ul class="breadcrumbs span6">
    <li></li>
  </ul>

  <div class="span6">
    <ul class="breadcrumbs r">
      <a id="help-link-general" class="dark" href="javascript:;">
        <i class="icon-question-sign">
          Help
        </i>
      </a>
    </ul>
  </div>
<% end %>



<h5 class="n">●●未承認の伝票がある場合, ここに一覧を表示 --- too much</h5>

<div class="well">
  <%= form_with model: @date_range, url: dashboard_path, method: :get, html: {id: "form_graph", class: 'form-inline'} do |f| %>
    <%= render 'layouts/date_range', form:f  %>
    <%= f.submit 'Generate', class: 'btn btn-primary' %>
    <%= f.submit 'Reset', class: 'btn btn-secondary', name:'reset' %>
  <% end %>
</div>

<%= render 'dashboard/graph', data: @report %>




<%= render "dashboard/tour_general" %>
