
<% # @param lineno 行番号. 1始まり
   # @param @order order
   # @param detail_obj 詳細行オブジェクト 
   # goods_receipt_pos/_form から呼び出される
  %>

<div id="<%= "detail_#{lineno}" %>" >
  <%= fields_for "detail[#{lineno}]", detail_obj do |df| %>
<% if !detail_obj.errors.empty? %>
  <div style="color:red">
<%   detail_obj.errors.full_messages.each do |msg| %>
    <%= msg %>
<%   end %>
  </div>
<% end %>

  <div class="row border-bottom border-primary g-0"
       data-controller="inv-detail-row">
<% if detail_obj.item %>
<%   order_det = MovementDetail.where(order_id: @order.id,
                                      item_id: detail_obj.item_id).take %>
    <div class="col-3">
      <%= df.hidden_field :item_id %>
      <%= detail_obj.item.name %>
    </div>
    <div class="col-1">
      <%= order_det.quantity %>
    </div>
    <div class="col-1">
      <%= order_det.item.unit.symbol %>
    </div>
    <div class="col-1">
      <%= order_det.balance %>
    </div>
    <div class="col-2">
      <%= df.hidden_field :price %>
      <%= detail_obj.price %>
    </div>
<% else %>
    <div class="col-3">
      <%= df.select :item_id,
                    options_from_collection_for_select(Item.all, :id, :name,
                                                       detail_obj.item_id) %>
    </div>
    <div class="col-1"></div>
<% # TODO: display item's uom #' %>
    <div class="col-1"></div>  
    
    <div class="col-1"> </div>
    <div class="col-2">
      <%= df.number_field :price, class:"form-control" %>
    </div>
<% end %>

    <div class="col-2">
      <%= df.number_field :quantity, class:"form-control" %>
    </div>
    <div class="col-2">
      <%= df.number_field :line_total, class:"form-control" %>
    </div>
  </div>
<%   end # fields_for %>
</div>
  
