
  <%= error_messages_for 'order' %>


  <%= f.date_field :date, label: "Order Date:" %>

<% if ['new', 'create'].include?(action_name) %>
  <%= f.select :contact_id,
            options_from_collection_for_select(Contact.where(supplier:true), :id, :name, @order.contact_id),
            required:false, help: "Only new record" %>
<% else %>
  <div class="row">
    <label><%= t('general.contact') %></label>
    <%= @order.contact.name %>
  </div>
<% end %>

  
  <%= render 'movements/form_direct_payment', f: f %>

  <%= f.date_field :ship_date, label: "Delivery Date:",
                   help:"If FOB and *CIF*, the date on the port of departure" %>
  <%= f.text_field :delivery_loc %>
  <%= f.text_field :incoterms %>
  <%= f.date_field :delivery_date, label:"Arrival Date:",
                   help:"Please enter if different from delivery date" %>
      
  <%= f.select :store_id,
            options_from_collection_for_select(Store.all, :id, :name, @order.store_id), required:false, label:"Ship To:" %>

  <%# Render items %>
  <%= render 'movements/form_items', f: f  %>

  <div class="form-actions">
    <% if @order.draft? %>
      <%= f.submit 'Save (draft)', class: 'btn btn-primary', name: 'commit_save' %>
    <% else %>
      <%= f.submit 'Save', class: 'btn btn-primary ' %>
    <% end %>
  </div>
  
