
:ruby
  @page_title = "Purchase Order ##{@order.id}"
  @crumbs = [
    ["Purchase Order", purchase_orders_path] ]


- content_for :links do
  %span{class: @order.display_state}= @order.state

  %div.btn-group{role: "group"}
    = button_to 'Confirm', confirm_purchase_order_path(@order.id), class: 'btn btn-success', method: :patch  if policy(@order).confirm?

    = button_to 'Destroy', purchase_order_path(@order.id), method: :delete, class: 'btn btn-danger',
      data:{turbo_confirm: 'Sure?'}  if policy(@order).destroy?

    = button_to 'Void', void_purchase_order_path(@order.id), method: :patch, class: 'btn btn-danger',
      data:{turbo_confirm: 'Esta segur@ de anular el Ingreso?'}  if policy(@order).void?
    = button_to 'Force Close', {action:"force_close"}
    = link_to "Edit...", edit_purchase_order_path(@order.id), class: 'btn'  if policy(@order).update?



%div.row
  %div.col-2 Contact:
  %div.col-6
    = link_to @order.contact, partner_path(@order.contact.id), title: 'Contacto', data: {toggle: 'tooltip'}
  %div.col-2 To:
  %div.col-2= @order.store.name

%div.row
  %div.col-2 Order Date:
  %div.col-2= @order.date
  %div.col-2 Delivery Date:
  %div.col-2= @order.ship_date
  %div.col-2 Arrival Date:
  %div.col-2= @order.delivery_date


.row-fluid.expense
  .span6
    .moneybox
      %label TOTAL
      %h5.n
        %span.total= ntc @order.total
        = @order.currency

    .moneybox
      %label SALDO
      %h5.n
        %span.balance= ntc @order.balance_inventory




= render "orders/items"


%h2 Goods Receipt PO

- @order.inventories.each do |inv|
  = render 'inventories/movement', inventory: inv




-#Tours
-#= render 'expenses/tour_devolution'

:javascript
  $( function() {
    // null expense
    $('#null-expense-form').submit(function(event) {
      if(confirm('Esta segur@ de anular el Ingreso?')) {
        return true;
      }else{
        return false;
      }
    })
  });
