
- @page_title = "New Business Partner"

- content_for :links do
  %ul.breadcrumbs.span6
    %li #{link_to "Business Partners", partners_path}

= bootstrap_form_with model: @partner, url:{action:"create"},
                      layout: :horizontal do |f|
  = render partial: 'partners/form', locals:{f:f}

  %div.card
    %div.card-body
      %h5.card-title Contact Account
      %p Bank Information is needed for suppliers
      = f.fields_for @contact_account do |caf|
        = render partial: 'contact_accounts/form', locals:{f:caf}

  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
