
<% @page_title = "Goods Receipt PO" %>
<% @crumbs = [
     ["Store/Warehouse", stores_path],
     [@store.name, @store] ] %>



<h2>未受入の発注</h2>

<table class="table">
  <tr>
    <th>PO# <th>発注日 <th>納品日 <th>取引先
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><%= order.id %>
    <td><%= order.date %>
    <td><%= order.delivery_date %>
    <td><%= order.contact.name %>
    <td><%= link_to "あたらしい購買入庫...", {action:"new", po_id: order.id} %>
  <% end %>
</table>



<h2>Inventories</h2>

<table class="table">
  <% @invs.each do |inv| %>
  <tr>
    <td><%= inv.inspect %>
      <%= link_to "Show", {controller:"goods_receipt_pos", action:"show", id:inv} %>
  </tr>
  <% end %>
</table>
