
:ruby
  @page_title = "Store: " + @store.name
  @crumbs = [
    ["Store/Warehouse", stores_path] ]


- content_for :links do
  %div.btn-group{role: "group"}
    = link_to "Edit...", edit_store_path(@store.id), class: 'btn'

    = button_to "Destroy", store_path(@store.id), method: :delete,
                data:{turbo_confirm: "Esta seguro de borrar el almacen?"}, class: 'btn'



.row-fluid
  .span6
    .clear-both
    .row-fluid
      .span4
        = @store.phone
      .span8
        = nl2br @store.address



- if @store.active
  %h2 In-Store Operations

  %ul
    %li In-Store Sales w/o order  ● TODO: impl.

  %h2 Warehouse Operations

  %ul
    %li= link_to "Goods Receipt PO", {controller:"goods_receipt_pos", action:"index", store_id: @store.id} 
    %li= link_to "仕入戻し", {controller:"goods_returns", action:"index", store_id:@store.id} 

    %li= link_to "出荷/納入", {controller:"deliveries", action:"index", store_id: @store.id}
    %li= link_to "Customer Return", {controller:"customer_returns", action:"index", store_id:@store.id}

    %li
      = link_to "Transfer Stock in 2-steps - In...", {controller:"inventory_ins", action:"index", store_id:@store.id}
    %li
      = link_to "Transfer Stock in 2-steps - Out...", {controller:"inventory_outs", action:"index", store_id:@store.id}
    %li
      = link_to "Transfer in 1-step w/o order", {controller:"inventory_transferences", action:"index", store_id:@store.id}

    %li
      = "●●未着品の入庫"
    %li= "●●Inventory Count &amp; Adjustment"
    %li= link_to "入出庫伝票", inventories_path 
    %li= "/stocks/    Stock"


%hr

%ul#tabs.nav.nav-pills.fs150
  %li
    %a(href='#items-tab' data-toggle='tab') Items

  %li
    %a(href='#operations-tab' data-toggle='tab') Operaciones



:javascript
  $(function() {
    activeTab();

    $('#operations-tab .pagination a').each(function() {
      $a = $(this);
      $a.attr('href', $a.attr('href') + '#operations-tab');
    });

  })
