
<%= bootstrap_form_with model: @order, url:{action:"create"}, layout: :horizontal do |f| %>
  <%= error_messages_for 'order' %>

  <%= f.date_field :date, label: "Transfer Request Date:" %>

  <%= f.date_field :ship_date, label: "Goods Issue Date:" %>
  
  <%= f.select :store_id,
            options_from_collection_for_select(Store.all, :id, :name, @order.store_id), required:false, label:"Issue From:" %>

  <%= f.date_field :delivery_date, label:"Receiving Date:" %>
      
  <%= f.select :trans_to_id,
            options_from_collection_for_select(Store.all, :id, :name, @order.trans_to_id), required:false, label:"Receiving Store/WHS:" %>

  
  <%# Render items %>
  <%= render 'movements/form_trans_items', f: f  %>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
