
<%= bootstrap_form_with model: @order, url:{action:"create"}, layout: :horizontal do |f| %>
  <%= error_messages_for 'order' %>

<% if ['new', 'create'].include?(action_name) %>
  <%= f.select :contact_id,
            options_from_collection_for_select(Contact.where(client:true), :id, :name, @order.contact_id),
            required:false, help: "Only new record" %>
<% else %>
  <div class="row">
    <label><%= t('general.contact') %></label>
    <%= @order.contact.name %>
  </div>
<% end %>

  <%= f.date_field :date, label: "Order Date:" %>

  <%= f.select :currency,
            options_from_collection_for_select(Currency.all, :code, :to_s, @order.currency) %>

  <%= f.select :store_id,
            options_from_collection_for_select(Store.all, :id, :name, @order.store_id), required:false, label:"Ship From:" %>

  <%= f.date_field :ship_date, label: "Ship Date:" %>
  
  <%# Render items %>
  <%= render 'orders/form_items', f: f %>


  <div class="form-actions">
    <% if @order.draft? %>
        <div class="ib" ng-hide="direct_payment">
          <%= f.submit 'Save borrador', class: 'btn b btn-large trans', name: 'commit_save' %>
          <br />
          <small class="muted">Salva un borrador o proforma</small>
        </div>
        <div class="ib">
          <%= f.submit value: 'Save y aprobar', class: 'btn b btn-large btn-primary', name: 'commit_approve' %>
          <br />
          <small class="muted">Salva y permite cobros</small>
        </div>
    <% else %>
        <%= f.submit 'Save', class: 'btn btn-primary btn-large b' %>
      <% end %>
    </div>
  <% end %>
</div>

<%# Help tours %>
<%# = render 'incomes/tour' %>

<script type="text/javascript">
  (function($) {
    $('body').on('new-contact', '.contact-form', function(event, resp) {
      $('.contact_id').val(resp.matchcode).data('value', resp.matchcode)
      .prev().val(resp.matchcode);
    })

    fx.rates = exchangeRates.rates;
  })(jQuery)
</script>
