-# called from sales_orders/index
-# @param order order object

%tr
  %td
    %input.row-check(type='checkbox' id="#{order.id}" code-name="#{ }" currency="#{ order.currency }")
    %h4.ib= link_to order.id, order 
  %td= link_to order.contact, partner_path(order.contact.id)
  %td= order.state
  %td= order.date
-#      = income.tax_tag
-#      = income.inventory_tag

-#      %tagsfor(tag_ids="#{income.tag_ids}" id="#{income.id}")

  %td
    = order.updater
    = order.creator
    = order.approver
    = order.nuller
  %td
    = order.delivery_date
  %td
    = order.total
    = order.currency
  %td
    = order.balance
  %td
    = link_to "Edit...", edit_sales_order_path(order.id), class: 'dark' if !order.nulled?
