
- @page_title = "Sales Order"

- content_for :links do
  %div.btn-group{role:"group"}
    = link_to t("general.export"), export_incomes_path, class:"btn btn-secondary"

    = link_to "New Sales Order...", new_sales_order_path, class: 'btn btn-secondary'


= render partial: "orders/search"


- paginate_html = paginate @orders

= paginate_html

%table.table
  - @orders.each do |order|
    = render 'sales_orders/income', order: order

= paginate_html

-#= render 'incomes/index_tour'
