
<% # 元々, Foundation 5 の書き方になっていた。v6 にするのも書き換えがいるので
   # Bootstrap に移行する.
  %>

<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">盆栽ERP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Master Data
          </a>
          <ul class="dropdown-menu">
            <li><a href="/partners/" class="dropdown-item">Business Partners</a>
            <li><%= link_to "Units of Measure", units_path,
                            class:"dropdown-item" %>
            <li><%= link_to "Product/Item Master", items_path,
                            class:"dropdown-item" %>
            <li><%= link_to "Store/Warehouse", stores_path, class:"dropdown-item" %>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Finance
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cashes/">Cash &amp; Bank Account</a>
            <li><a class="dropdown-item" href="/loans/">Loan</a>
            <li><a class="dropdown-item" href="/payments/">Payment</a>
            <li><a class="dropdown-item" href="/taxes/">Tax</a>
	      
	    <li><hr class="dropdown-divider"></li>
	    <li><a class="dropdown-item" href="/accounts/">Chart of Accounts</a>
            <li><%= link_to "Item Accounting Rule", item_accountings_path,
                            class:"dropdown-item" %>
	    <li><a class="dropdown-item" href="/transferences/">Journal Entry</a>
            <li><%= link_to "General Ledger", account_ledgers_path,
                            class:"dropdown-item" %>
              <!--
            <li><a class="dropdown-item" href="/staff_accounts/">Staff Accounts</a> -->
            <li><%= link_to t('views.menu.etiquetas'), tag_groups_path,
                            class:"dropdown-item" %>

            <li><%= link_to t("views.menu.reports"), reports_path,
                    class:"dropdown-item" %></li>
            <li>
              <%= link_to t("views.menu.inventory"), inventory_report_path,
                  class:"dropdown-item" %>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Sales
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/sales_orders/">Sales Order</a>
            <li><a class="dropdown-item" href="/devolutions/">Customer Return Request</a>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Purchasing
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/purchase_orders/">Purchase Order</a>
            <li><a class="dropdown-item" href="/pur_in_transits/">Purchase In Transit</a>
            <li><a class="dropdown-item" href="/goods_return_requests/">Goods Return Request</a>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Inventory
          </a>
          <ul class="dropdown-menu">
	    <li><a class="dropdown-item" href="/transfer_requests/">Inv. Transfer Requests</a>
	    <li><hr class="dropdown-divider"></li>
<% Store.all.each do |store| %>            
            <li><%= link_to store.name, store, class:"dropdown-item" %>
<% end %>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Project
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/prod_orders/">Production Order</a>
          </ul>
        </li>
      
      </ul>
<% # 以上が left menu bar %>

      <span class="navbar-text me-2">
        <%= current_organisation %>
        <%= " (" + Apartment::Tenant.current + ")" %>
      </span>
      
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user %>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t('views.menu.configuration'), configurations_path,
                            class:"dropdown-item" %>
            <li><%= link_to "Profile", user_path(current_user.id),
                            class:"dropdown-item" %>
            <li><%= link_to t('views.menu.logout'), "/user_session",
                            data:{"turbo-method": :delete},
                            class:"dropdown-item" %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
