<!DOCTYPE html>
<html >
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <title><%= @page_title %> - <%= current_organisation %> - bonsaiERP</title>

  <link rel="shortcut icon" href="/bonsai.ico" type="image/x-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
  <link rel="stylesheet" href="/lib/jquery-ui-1.14.1/jquery-ui.min.css" />  
  <% # Includes all stylesheet files in `app/assets/stylesheets` %>
  <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
    
  <!-- Load jQuery and other libraries from CDN -->
  <script src="/lib/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <script src="/lib/jquery-ui-1.14.1/jquery-ui.min.js"></script>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <%= yield :head %>
</head>
<body >
  
<% # `cache()` は Rails のフラグメントキャッシュの仕組み. %>      
<% cache [current_user, 'menu'] do %>
  <%= render 'layouts/menus' %>
<% end %>

<div class="container">
  
  <header class="border-bottom ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
<% if @crumbs
     @crumbs.each do |link| %>
        <li class="breadcrumb-item">
	  <%= link_to *link %>
<%   end %>
<% end %>
	<li class="breadcrumb-item active" aria-current="page"></li>
      </ol>
    </nav>

    
    <div class="d-flex flex-wrap justify-content-center mb-4 align-items-center" >
      <div class="d-flex align-items-center mb-md-0 me-md-auto">
	<h1 ><%= @page_title || raise %></h1>
      </div>

      <%= yield :links %>
    </div>
  </header>

  <%= render "layouts/flash"  %>

  <%= yield %>

</div> <!-- /.container -->


<%= render 'layouts/footer' %>

</body>
</html>
