
<% @page_title = "New Account" %>


<%= bootstrap_form_for @account, layout: :horizontal do |f| %>
  <%= render partial: "form", locals: {form: f} %>

<% if ['new', 'create'].include?(action_name) %>
  <%= f.select :subtype,
            Account::SUBTYPES.filter {|k, v| k != 'CASH' && k != 'APAR'}. map {|k, v| [v, k]},
            help:"Only new record" %>
<% else %>
  <div class="row">
    <%= @account.subtype %>
  </div>
<% end %>

  <%= f.submit class:"btn btn-primary" %>
<% end %>


